# find . -size +80M | cat >> .gitignore

*.swp
*.swo
tags

# LaTeX temporary files
*.aux
*.log
*.toc
*.synctex.gz

*.bbl
*.blg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# CASA stuff:
*.log
*.last

*.old
old/
